
.boxNome{
  padding: 6%;

}
.boxData{
  padding-left: 5%;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding-right: 5%;

}
.boxFiltro{
  display: inline;
  /* justify-content: space-between; */
}

button{
margin-left: 43%;
margin-top: 13%;
}

