<div>
  <img src="../../assets/imagens/background_app.png">
  <div class="ui-g">
    <div class="ui-g-12">
      <form class="box" [formGroup]="formLogin">
        <img class="icone" src="../../assets/imagens/icone_usuario.png">
        <h1>Login</h1>
        <div class="ui-inputgroup">
        <span class="ui-float-label">
          <input id="float-input" type="text" size="30" pInputText>
          <label for="float-input">Login</label>
        </span>
        </div>
        <div class="ui-inputgroup">
        <span class="ui-float-label">
          <input id="float-input" type="password" size="30" pInputText>
          <label for="float-input">Senha</label>
        </span>
        </div>
        <button class="botaologin" pButton type="button" label="Login" ></button>
        <h3><a href="localhost:4200">Cadastre-se</a></h3>
      </form>
    </div>
  </div>
</div>
