<div>
  <img src="../../assets/imagens/background_app.png">
  <div class="ui-g">
    <div class="ui-g-12">
      <form class="box" [formGroup]="formLogin">
        <h1>Login</h1>
        <input type="text" class="form-control" name="login" id="login" formControlName="login" placeholder="Login">
        <input type="password" class="form-control" name="senha" id="senha" formControlName="senha" placeholder="Senha">
        <button type="submit" name="">Login</button>
      </form>
    </div>
  </div>
</div>
