<div class="ui-fluid tamanho-fluid">
  <div class="ui-g-fluid caixaInterface">
    <div class="ui-g-fluid">
      <div class="ui-g">
        <div class="ui-g-10 ui-g-offset-1 barrasuperior">
          <header><strong>Manter Usuário</strong></header>
        </div>
        <div class="ui-g-10 ui-g-offset-1 boxForm">
          <p-table [columns]="cols" [value]="usuarios" selectionMode="single" [(selection)]="selectedUsuario"
            (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15">
            <ng-template pTemplate="caption">
              Lista de Usuários
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                  {{col.header}}
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr [pSelectableRow]="rowData">
                <td *ngFor="let col of columns">
                  <span *ngIf="col.object == 'true'">
                    {{rowData[col.field][col.subfield]}}
                  </span>
                  <span *ngIf="col.object == 'false'">
                    {{rowData[col.field]}}
                  </span>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="summary" let-rowData>
              <div class="ui-xl-2 ui-lg-2 ui-g-6 ui-md-3" style="text-align:left">
                <button type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" label="Add"></button>
              </div>
            </ng-template>
          </p-table>
          <p-toast position="top-right" key="msg"></p-toast>
          <p-dialog header="Detalhes Usuario" [(visible)]="displayDialog" [focusOnShow]="false" [responsive]="true"
            showEffect="fade" [modal]="true" [style]="{width: '500px'}">
            <form [formGroup]="manterUsuarioForm">
              <div class="ui-g ui-fluid" *ngIf="usuario">
                <div class="ui-g-12">
                  <span class="ui-float-label">
                    <input formControlName="login" [(ngModel)]="usuario.login" name="login" id="login" type="text"
                      pInputText>
                    <label for="login">Login: *</label>
                  </span>
                </div>
                <div class="ui-g-12">
                  <span class="ui-float-label">
                    <input formControlName="senha" [(ngModel)]="usuario.senha" name="senha" id="senha" type="password"
                      pInputText>
                    <label for="senha">Senha: *</label>
                  </span>
                </div>
                <div class="ui-g-12">
                <p-dropdown selectId optionLabel="nome" [options]="roles" formControlName="role"
                    [(ngModel)]="usuario.role" filter="true" placeholder="Role: *"></p-dropdown>
              </div>
            </div>
            </form>
            <p-footer>
              <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button [disabled]="!manterUsuarioForm.valid" type="button" pButton icon="pi pi-times"
                  (click)="delete()" label="Delete"></button>
                <button [disabled]="!manterUsuarioForm.valid" type="button" pButton icon="pi pi-check" (click)="save()"
                  label="Save"></button>
              </div>
            </p-footer>
          </p-dialog>
        </div>
      </div>
    </div>
  </div>
</div>
