.caixa{
  height: 100%;
  background-color: rgb(25,25,25);
  padding-top: 10px;
}

.imagem{
  display: table-cell;
  float: left;
  width: 20%;
}

img{
  width: 10%;
  height: 10%;
}

.p-col-12 conteudo{
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.texto{
  display: table-cell;
  float: left;
  color: white;
  margin-top: 4%;
  margin-bottom: 4%;
  /* margin-left: 4%; */
  /* margin-right: ; */
}

strong{
  text-align: center;
  text-justify: auto;
}

.caixa .logo header{
  opacity: 0.9;
  color: white;
  line-height: 90px;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: -10px;
  display: block;
}

.caixa .barra{
  opacity: 0.3;
  width: 90%;
  height: 1px;
  background-color: white;
  margin-bottom: 7%;
  margin-left: 4%;
}

.logo img{
  display: block;
  width: 3%;
  height: 5%;
  margin-left: 7%;
  color: aliceblue;
  position: absolute;
}

.barrasmenu{
  background-color: black;
}

.caixa .ui-panelmenu{
  background-color: black;
}
