<div class="p-grid" *ngIf="!isMobileMenu() && mostrarMenu">
  <div class="p-col-2 painel">
    <app-menu></app-menu>
  </div>
  <div class="p-col-10 painel">
    <div class="p-col-12 espacamento">
      <router-outlet></router-outlet>
    </div>
    <div class="p-grid p-align-end footerApp">
      <div class="p-col" style="height: 50%">
        <p>© 2020 Desenvolvido por: <a href="#"><strong>UNA Developers</strong></a>.</p>
      </div>
    </div>
  </div>
</div>

<div class="p-grid" *ngIf="isMobileMenu() && mostrarMenu">
  <div class="p-col-1 p-col-offset-11" style="height: 6% !important;">
    <app-menu></app-menu>
  </div>
  <div class="p-col-12 painel-cel">
    <router-outlet></router-outlet>
  </div>
  <div class="p-grid p-align-end footerApp">
    <div class="p-col" style="height: 50%">
      <p>© 2020 Desenvolvido por: <a href="#"><strong>UNA Developers</strong></a>.</p>
    </div>
  </div>
</div>

<div class="p-grid" *ngIf="!mostrarMenu">
  <div class="p-col-12 painel">
    <div class="p-col-12" style="height: 94%">
      <router-outlet></router-outlet>
    </div>
    <div class="p-grid p-align-end footerApp">
      <div class="p-col" style="height: 50%">
        <p>© 2020 Desenvolvido por: <a href="#"><strong>UNA Developers</strong></a>.</p>
      </div>
    </div>
  </div>
</div>
