<div class="ui-fluid tamanho-fluid">
  <div class="ui-g-fluid caixaInterface">
    <div class="ui-g-fluid">
      <div class="ui-g">
        <div class="ui-g-10 ui-g-offset-1 barrasuperior">
          <header><strong>Manter Cliente</strong></header>
        </div>
        <div class="ui-g-10 ui-g-offset-1 boxForm">
          <p-table [columns]="cols" [value]="clientes" selectionMode="single" [(selection)]="selectedCliente"
            (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15">
            <ng-template pTemplate="caption">
              Lista de Clientes
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                  {{col.header}}
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr [pSelectableRow]="rowData">
                <td *ngFor="let col of columns">
                  {{rowData[col.field]}}
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="summary" let-rowData>
              <div class="ui-xl-2 ui-lg-2 ui-g-6 ui-md-3" style="text-align:left">
                <button type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" label="Add"></button>
              </div>
            </ng-template>
          </p-table>

          <p-toast position="top-right" key="msg"></p-toast>

          <p-dialog header="Detalhes Cliente" [(visible)]="displayDialog" [focusOnShow]="false" [responsive]="true"
            showEffect="fade" [modal]="true" [style]="{width: '500px'}">
            <form [formGroup]="manterClienteForm">
              <div class="ui-g ui-fluid" *ngIf="cliente">
                <div class="ui-g-12">
                  <span class="ui-float-label">
                    <input [(ngModel)]="cliente.nome" formControlName="nome" name="nome" id="nome" type="text"
                      pInputText>
                    <label for="nome">Nome: *</label>
                  </span>
                </div>
                <div class="ui-g-12">
                  <span class="ui-float-label">
                    <input [(ngModel)]="cliente.cpf" formControlName="cpf" name="cpf" id="cpf" type="text"
                      pInputText>
                    <label for="cpf">CPF: *</label>
                  </span>
                </div>
                <div class="ui-g-12">
                  <span class="ui-float-label">
                    <input [(ngModel)]="cliente.telefone" formControlName="telefone" name="telefone"
                      id="telefone" type="text" pInputText>
                    <label for="telefone">Telefone: *</label>
                  </span>
                </div>
                <div class="ui-g-12">
                  <span class="ui-float-label">
                    <input [(ngModel)]="cliente.email" name="email" formControlName="email" id="email"
                      type="email" pInputText>
                    <label for="email">Email: *</label>
                  </span>
                </div>
              </div>
            </form>
            <p-footer>
              <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="pi pi-check" [disabled]="!manterClienteForm.valid" (click)="save()"
                  label="Save"></button>
              </div>
            </p-footer>
          </p-dialog>
        </div>
      </div>
    </div>
  </div>
</div>
